.venv/
.env


Articles/
Thomas_EUDA/
asreview-makita/
Synergy/
simulations/__pycache__/
simulations/output/
simulations/output_study_100_runs_tdd/
notebooks/
Mini_thesis.pdf
makita_simulations/
Inclusion_criteria/

# main statistical analysis only
Analysis/analysis/*
!Analysis/analysis/main_analysis.rmd

# remove the results of simulations
simulation_results/*


# remove all files in Report/ except the files and folders listed below
Report/*
Report/results/

# latex files to keep
!Report/main.tex
!Report/main.pdf
!Report/preamble.tex
!Report/titlepage.tex
!Report/results_paragraph.tex
!Report/references.bib

!Report/midterm_report.tex
!Report/midterm_report.pdf


# folders to keep
!Report/vector_space/
!Report/images/

# Rstudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
